{% include "header.html" %}
{% load static %}
<div id="about">
  <h1 style="text-align:center;">Welcome to Price predictor application</h1>
          <h3>This application develop by Tanishq shrivatav and sukritan gupta</h3>

          <div class="card container mb-1 text-dark" >
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/tanishq.jpg' %}" alt="" class="cardimg">
                  </div>
                  <div class="col-8">
                          Hi my self tanishq shrivastav , I am professional web developer and coder.

                           <br>
                           <br>
                           <button><a href="https://www.linkedin.com/in/tanishq-shrivastava-b130ba1b9/" target="_blank" style="text-decoration:None; color:grey;">Linkedin</a> </button>
                           <button><a href="https://twitter.com/TanishqTushu" target="_blank" style="text-decoration:None; color:grey;">Twitter</a> </button>
                           <button><a href="https://www.facebook.com/tanishq.arya.56" target="_blank" style="text-decoration:None; color:grey;">Facebook</a> </button>
                  </div>
                    
          </div>
           
                    
          </div>
          <div class="card container mb-1 text-dark mahajan1" >
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/my.jpeg' %}" alt="" class="cardimg">
                  </div>
                  <div class="col-8">
                           Hi , this is Sukritan gupta I am professional web devleoper ,cloud experts, game developer, coder, machine learning experts.
                           <br>
                           <br>
                           <button><a href="https://www.linkedin.com/in/sukritan-gupta-a38430219/" target="_blank" style="text-decoration:None; color:grey;">Linkedin</a> </button>
                           <button><a href="https://www.instagram.com/sukritangupta/" target="_blank" style="text-decoration:None; color:grey;">Instagram</a> </button>
                           <button><a href="https://twitter.com/1871_sukritan" target="_blank" style="text-decoration:None; color:grey;">Twitter</a> </button>
                          
                  </div>
                    
          </div>
           
                    
          </div>
</div>
{% include "footer.html" %}