<hr>
<div id="footer">
              
             <footer id="footer1">
         <div class="container">
         <div class="row">
             <div class="col-4">
        
        <span>Price predictor application <br>
        develop to help the user to find the <br>
        price of different concept.
        </span> 
         </div>
         <div class="col-4">
           <nav>
           <ul>
           
            <li><a href="/">Home</a> </li>
            <li><a href="{% url 'laptop_price' %}">laptop_price</a></li>
            <li><a href="{% url 'phone_price' %}">Phone Price</a></li>
            <li><a href="{% url 'car_price' %}">Car_price</a></li>
            <li><a href="{% url 'house_price' %}">House price</a></li>
          <li> <a href="{% url 'about' %}">About</a></li>
          
       
            
           
           
          </ul>
           
           </nav>
         </div>
    
         <div class="col-4">
         <ul>
         <li><a href="">Twiter</a></li>
         <li><a href="">Linkedin</a></li>
         <li><a href="">Instagram</a></li>
         <li><a href="">Facebook</a></li>
         
         </ul>
         
         </div>
          </div>
         </div>
        <center>
        <h5>Copywrite&copy; by Price-predictor application</h5>
        </center> 
</footer>
          </div>
</body>
</html>