{% include "header.html" %}
{% comment %} here i make the body {% endcomment %}
<div id="lap">

<h1 style="text-align:center;"><marquee behavior="" direction="left" behavior="alternate" scrollamount="12" >Welcome to Laptop price prediction page.</marquee></h1>
   <h4>Please enter the details accordingly </h4>
  
      <form method='POST' class="form-group">
      {% csrf_token %}
      <div class='container'>
      
      
      <label for="">Select model:</label>
      <select name="select1" id="" style="width:40vw;" class="form-control">
         <option value="Dell">Dell</option>
         <option value="Hp">Hp</option>
         <option value="Lenovo">Lenovo</option>
         <option value="Asus">Asus</option>
         <option value="Acer">Acer</option>
         <option value="MSI">MSI</option>
         <option value="Toshiba">Toshiba</option>
         <option value="Apple">Apple </option>
         <option value="Samsung">Samsung</option>
         <option value="Razer">Razer</option>
         <option value="Mediacom">Mediacom</option>
         <option value="Microsoft">Microsoft</option>
         <option value="Xiaomi">Xiaomi</option>
         <option value="Vero">Vero</option>
         <option value="Chuwi">Chuwi</option>
         <option value="Google">Google</option>
         <option value="Fujitsu">Fujitsu</option>
         <option value="LG ">LG </option>
         <option value="Huawei">Huawei</option>
      </select>
      <br>
      <br>
      <label for="">Type Name: &nbsp;</label>
      <select name="select2" id="" style="width:40vw;" class="form-control">
      <option value="Notebook">Notebook</option>
      <option value="Gaming">Gaming</option>
      <option value="Ultrabook">Ultrabook</option>
      <option value="2 in 1 Convertible">2 in 1 Convertible</option>
      <option value="Workstation">Workstation</option>
      <option value="Netbook">Netbook</option>
      
      </select>
      <br>
      <br>
      <label for="">Ram: &nbsp;</label>
      <select name="select3" id="" style="width:40vw;" class="form-control">
      <option value="8">8</option>
      <option value="4">4</option>
      <option value="16">16</option>
      <option value="16">16</option>
      <option value="12">12</option>
      <option value="2">2</option>
      <option value="32">32</option>
      <option value="24">24</option>
      <option value="64">64</option>
      </select>
      <br>
      <br>
      <label for="">Weight accordingly:</label>
      <select name="select4" id="" style="width:40vw;" class="form-control">
      <option value="2.20">2.20</option>
      <option value="2.10">2.10</option>
      <option value="2.00">2.00</option>
      <option value="2.40">2.40</option>
      <option value="2.30">2.30</option>
      <option value="1.37">1.37</option>
      <option value="1.34">1.34</option>
      <option value="1.86">1.86</option>
      <option value="1.83">1.83</option>
      <option value="1.3">1.3</option>
      <option value="1.6">1.6</option>
      <option value="2.2">2.2</option>
      <option value="0.92">0.92</option>
      <option value="1.22">1.22</option>
      <option value="0.98">0.98</option>
      <option value="2.5">2.5</option>
      <option value="1.62">1.62</option>
      <option value="1.91">1.91</option>
      <option value="2.3">2.3</option>
      <option value="1.35">1.35</option>
      <option value="1.88">1.88</option>
      <option value="1.89">1.89</option>
      <option value="1.65">1.65</option>
      <option value="2.71">2.71</option>
      <option value="1.2">1.2</option>
      <option value=" 1.44"> 1.44</option>
      <option value="2.8">2.8</option>
      <option value=" 2.65"> 2.65</option>
      <option value="2.77">2.77</option>
      <option value="3.2">3.2</option>
      <option value="0.69">0.69</option>
      <option value="1.49">1.49</option>
      <option value="2.4">2.4</option>
      <option value="2.13">2.13</option>
      <option value="2.43">2.43</option>
      <option value="1.7">1.7</option>
      <option value="1.4">1.4</option>
      <option value="1.8">1.8</option>
      <option value=" 1.9"> 1.9</option>
      <option value="3.">3.</option>
      <option value="1.252">1.252</option>
      <option value="2.7">2.7</option>
      <option value="2.02">2.02</option>
      <option value="1.63">1.63</option>
      <option value="1.96">1.96</option>
      <option value=" 1.21"> 1.21</option>
      </select>
      <br>
      <br>
      <label for="">TouchScreen:</label>
      <select name="select5" id="" style="width:40vw;" class="form-control">
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select>
      <br>
      <br>
      <label for="">Ips:</label>
      <select name="select6" id="" style="width:40vw;" class="form-control">
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select>
      <br>
      <br>
      <label for="">ppi</label>
      <select name="select7" id="" style="width:40vw;" class="form-control">
      <option value="141.211998">141.211998</option>
      <option value="100.454670">100.454670</option>
      <option value="157.350512">157.350512</option>
      <option value="127.335675">127.335675</option>
      <option value="165.632118">165.632118</option>
      <option value="111.935204">111.935204</option>
      <option value="135.094211">135.094211</option>
      <option value="276.053530">276.053530</option>
      <option value="176.232574">176.232574</option>
      <option value="282.423996">282.423996</option>
      <option value="106.113062">106.113062</option>
      <option value="209.800683">209.800683</option>
      <option value="125.367428">125.367428</option>
      <option value="117.826530">117.826530</option>
      <option value="254.671349">254.671349</option>
      <option value="331.264236">331.264236</option>
      <option value="200.842560">200.842560</option>
      <option value="226.415547">226.415547</option>
      <option value="127.677940">127.677940</option>
      <option value="352.465147">352.465147</option>
      <option value="224.173809">224.173809</option>
      <option value="146.860478">146.860478</option>
      <option value="158.482530">158.482530</option>
      </select>
      <br>
      <br>
      <label for="">Cpu brand:</label>
      <select name="select8" id="" style="width:40vw;" class="form-control">
      <option value="Intel Core i5">Intel Core i5</option>
      <option value="Intel Core i7">Intel Core i7</option>
      <option value="AMD Processor">AMD Processor</option>
      <option value="Intel Core i3">Intel Core i3</option>
      <option value="Other Intel Processor">Other Intel Processor</option>
      </select>
      <br>
      <br>
      <label for="">HDD</label>
      <select name="select9" id="" style="width:40vw;" class="form-control">
      <option value="0">0</option>
      <option value="1000">1000</option>
      <option value="500">500</option>
      <option value="2000">2000</option>
      <option value="32">32</option>
      <option value="128">128</option>
      </select>
      <br>
      <br>
      <label for="">SDD</label>
      <select name="select10" id="" style="width:40vw;" class="form-control">
      <option value="0">0</option>
      <option value="256">256</option>
      <option value="512">512</option>
      <option value="1000">1000</option>
      <option value="32">32</option>
      <option value="128">128</option>
      <option value="180">180</option>
      <option value="16">16</option>
      <option value="64">64</option>
      <option value="1024">1024</option>
      <option value="768">768</option>
      <option value="240">240 </option>
      <option value="8">8</option>
      </select>
      <br>
      <br>
      <label for="">GPU Brand:</label>
      <select name="select11" id="" style="width:40vw;" class="form-control">
      <option value="Intel">Intel</option>
      <option value="Nvidia">Nvidia</option>
      <option value="AMD">AMD</option>
      </select>
      <br>
      <br>
      <label for="">OS:</label>
      <select name="select12" id="" style="width:40vw;" class="form-control">
      <option value="Windows">Windows</option>
      <option value="Others/No OS/Linux">Others/No OS/Linux</option>
      <option value="Mac">Mac</option>
      </select>
  <br>
  <br>
      <input type="submit" value="Check price" class="btn btn-primary" >
      </div>
      </form>
      <hr>

   <div>
   <h4>Estimated Price: <input type="text" value="" disabled></h4>
   </div>

</div>
{% comment %} here i make the folder {% endcomment %}
{% include "footer.html" %}